@model BlogEngine.Domain.Models.BlogEntrySummaryModel[]

<section class="blog-summary">
    <div class="container">
        <h3 class="ribbon blog-ribbon">Blog<span></span></h3>


        <ul class="entry-list list-group">
            @foreach (var entry in Model)
            {
                <li class="list-group-item">
                    <div class="date pull-right">@entry.Date</div>
                    <strong>@Html.ActionLink(entry.Title, "Show", "Blog", new { id = entry.Key }, null)</strong>
                    @Html.Raw(entry.Summary)
                </li>
            }
        </ul>

    </div>
</section>
